// .outlet-wrapper {
//   width: 600px;
//   height: 500px;
//   min-height: 500px;
//   max-height: 500px;
// }

.nav {
  position: fixed;
  width: 100%;
  top: 0;
}

.content-container {
  margin-top: 64px;
  overflow: auto;
  height: calc(100vh - 64px);
}

.outlet-wrapper {
  padding: 20px;
}
