.category-title {
  text-transform: uppercase;
  font-weight: bold;
}

.mat-expansion-panel-header-title {

  max-width: 150px;
}

.carousel-child {
    height: 500px;
}

.panel-additional-title {
  position: relative;
  top: 5px;
  padding-left: 20px;
}

.clickable {
  cursor: pointer !important;
}

.clickable:active {
  position: relative;
  top: 1px;
}