<div>
    <h1>Search top news from {{lang.toUpperCase()}}:</h1>
        
    <mat-form-field autocomplete="off" class="example-full-width">
        <mat-label>Enter search term</mat-label>
        <input [(ngModel)]="searchQuery" (keyup)="handleSearchQueryChange($event.target.value)" type="search" matInput placeholder="Search ...">
        <mat-icon matSuffix (click)="execSearch()" class="clickable">search</mat-icon>
      </mat-form-field>
  
</div>

<app-news-articles-page [articles]="articles"></app-news-articles-page>

<div *ngIf="articles && !articles.length">
    <hr>
    <h2>Your search did not yield any results. Try again with different search terms.</h2>
</div>