/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    box-sizing: border-box;
}

.preview-wrapper {
    display: inline-block;
    width: 16.66%;
    // min-width:350px;
    padding: 10px;
    overflow: hidden;
    height: 500px;
}


@media screen and (max-width: 1700px) {
    .preview-wrapper {
        width:20%;
    }
  }


@media screen and (max-width: 1400px) {
    .preview-wrapper {
        width:25%;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .preview-wrapper {
        width: 33%;
    }
  }

  @media screen and (max-width: 900px) {
    .preview-wrapper {
        width: 50%;
    }
  }

  @media screen and (max-width: 650px) {
    .preview-wrapper {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
  }

  @media screen and (max-width: 450px) {
    .preview-wrapper {
        display: block;
        width: 100%;
    }
  }

  .text-center {
    text-align: center;
  }

  .preview-wrapper .mat-card-header-text, .carousel-child  .mat-card-header-text {
    display: none;
}


  app-category .mat-content {
      align-items: center !important;
    
  }

  .tns-inner {
    padding: 10px;
  }

  .tns-outer {
    position: relative;
  }

  .tns-controls > button {
    width: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0,0,0, 0.2)
  }

  .tns-controls > button:first-of-type{
    position: absolute;
    top: 0;
    ;
    left: -15px;
    bottom: 10px;
  }

  .tns-controls > button:last-of-type{
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 10px;
  }
